<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL_BLL.Properties.Settings.QL_BanQuanAoConnectionString"
            connectionString="Data Source=DESKTOP-RHQ2P6N;Initial Catalog=QL_BanQuanAo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL_BLL.Properties.Settings.Data_QLBanQuanAoConnectionString"
            connectionString="Data Source=MSI;Initial Catalog=Data_QLBanQuanAo;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>