
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/PlayoutShared.cshtml";
}

<ul style="list-style-type:none;">
    <li>Đồ án môn phát triển phần mềm</li>
    <li>Đề tài Quản lý shop quần áo</li>
    <li>GVHD: Bùi Công Danh</li>
    <li>Sinh viên thực hiện
    <ul>
        <li>
            Họ tên: Lưu Minh Hiếu
        </li>
        <li>
            Mssv: 2001181109
        </li>
        <li>
            Gmail: luuminhhieu01082000@gmail.com
        </li>
    </ul>
    </li>
</ul>

