
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/PlayoutShared.cshtml";
}

<table class="table">
    <tr style="text-align:center">
        <td><h2>Đặt hàng thành công</h2><br /></td>
    </tr>
    <tr style="text-align:center">
        <td><h5>Chúng tôi sẽ giao hàng trong thời gian sớm nhất</h5><br /></td>
    </tr>
    <tr style="text-align:center">
        <td><a href="@Url.Action("ShowSanPham","SanPham")">VỀ TRANG CHỦ</a></td>
    </tr>
</table>

